*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-ms-viewport {
  width: device-width; }
a {
  text-decoration: none;
  color: #000; }
  a:hover {
    color: #FF3800; }

body {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  background-color: #000; }
  @media (min-width: 613px) {
    body {
      margin: 0;
      background-color: #fff; } }
  @media (min-width: 1280px) {
    body {
      background-color: #fff; } }

li a {
  color: #fff;
  font-weight: bold; }
  li a:hover {
    color: #FF3800;
    font-weight: bold; }

ul a:hover {
  color: #2344bc; }

.footer {
  margin: 5% 0; }
  .footer h3 {
    font-size: 16px;
    letter-spacing: 0.3em;
    font-weight: lighter;
    font-family: "Ultra", serif;
    margin-bottom: -.3em; }
    @media (min-width: 613px) {
      .footer h3 {
        color: #fff;
        font-weight: lighter; } }
  .footer p {
    font-size: 12px;
    letter-spacing: 0.1em; }
    @media (min-width: 613px) {
      .footer p {
        color: #fff; } }
  @media (min-width: 613px) {
    .footer {
      margin: 0;
      display: block;
      position: absolute;
      margin-top: 57vh;
      margin-left: 65px; } }
  @media (min-width: 1280px) {
    .footer {
      margin-top: 83vh; } }

.container {
  width: 94%;
  margin: 5% auto; }
  @media (min-width: 613px) {
    .container {
      width: 100%;
      margin: 0 auto; } }

.nav {
  background-color: #fff; }
  @media (min-width: 613px) {
    .nav a {
      color: #000; } }
  .nav h3 {
    font-size: 18px;
    letter-spacing: 0.2em;
    font-weight: lighter;
    padding-top: 1vh;
    padding-left: 8%;
    font-family: "Ultra", serif;
    height: 2.75vh; }
    @media (min-width: 613px) {
      .nav h3:hover {
        color: #FF3800; } }
  .nav li {
    display: inline;
    padding-right: 2vw;
    width: 60%; }
    @media (min-width: 613px) {
      .nav li {
        display: block;
        padding-right: 2vw;
        width: 60%;
        color: #000;
        letter-spacing: .3em;
        padding-bottom: 1.5em; } }
  @media (min-width: 613px) and (min-width: 613px) {
    .nav li a:hover {
      color: #2344bc;
      font-weight: bold; } }

  .nav ul {
    font-size: 9px;
    letter-spacing: 0.1em;
    font-weight: 200;
    color: #fff;
    padding-top: 1.5vh;
    padding-left: 8%;
    list-style: none;
    background-color: #2344bc;
    opacity: 0.9;
    height: 4vh; }
    @media (min-width: 613px) {
      .nav ul {
        background-color: #fff;
        opacity: 0.95;
        font-size: 9px;
        color: #fff; } }
  @media (min-width: 613px) {
    .nav {
      background-color: #fff;
      opacity: 0.95;
      width: 250px;
      height: 210px;
      margin-top: 50px;
      margin-left: 50px;
      position: fixed;
      z-index: 9999;
      padding-left: 5px;
      padding-right: 5px; } }

.main {
  height: 24.5vh; }
  .main img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  @media (min-width: 613px) {
    .main {
      height: 70vh;
      left: 0px;
      top: 0px;
      position: relative;
      right: 0;
      margin: 0 auto;
      margin-bottom: 1.8%; } }
  @media (min-width: 1280px) {
    .main {
      float: left;
      width: 72%;
      height: 100vh;
      margin-right: .70vw;
      margin-bottom: 0; } }

.featuredProject {
  background-color: #fff;
  height: 6.5vh;
  margin-top: 6vh;
  margin-bottom: 5%; }
  .featuredProject a {
    color: #000; }
    .featuredProject a:hover {
      color: #2344bc; }
  .featuredProject h3 {
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #fff;
    padding-left: 8%; }
  .featuredProject p {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    padding-top: 4%;
    padding-left: 8%;
    margin-bottom: -1%; }
    .featuredProject p:hover {
      color: #2344bc; }
  @media (min-width: 613px) {
    .featuredProject {
      display: none; } }

.col1 {
  background-color: #FF3800;
  height: 6.5vh; }
  .col1 a {
    color: #fff; }
    .col1 a:hover {
      color: #2344bc; }
  .col1 h3 {
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #fff;
    padding-left: 8%; }
    @media (min-width: 613px) {
      .col1 h3 {
        font-size: 26px; } }
    @media (min-width: 1280px) {
      .col1 h3 {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: .15em;
        font-weight: bold; } }
  .col1 p {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    padding-top: 4%;
    padding-left: 8%;
    margin-bottom: -1%; }
    .col1 p:hover {
      color: #2344bc; }
    @media (min-width: 1280px) {
      .col1 p {
        font-size: 14px;
        font-weight: 800; } }
  @media (min-width: 613px) {
    .col1 {
      float: left;
      text-align: center;
      letter-spacing: 1px;
      padding: 4vh 10vw 7vh 7vw;
      line-height: 30px;
      width: 49%;
      height: 100vh;
      margin: 0;
      display: block; } }
  @media (min-width: 1280px) {
    .col1 {
      float: right;
      height: 49vh;
      width: 27%;
      padding: 3.5%;
      padding-top: 6vh;
      margin: 0 0 1vh 0; } }

.col2 {
  font-size: 14px;
  color: #000;
  margin: 11% 0 5% 0;
  background-color: #fff;
  height: 25vh;
  padding: 4% 8% 7% 10%; }
  .col2 img {
    display: none; }
    @media (min-width: 613px) {
      .col2 img {
        display: block;
        float: left;
        width: 60%;
        margin-right: 200px;
        padding-bottom: 3vh;
        max-width: 289px; } }
    @media (min-width: 1280px) {
      .col2 img {
        float: left;
        padding-top: 0vh;
        padding-bottom: 4vh;
        width: 70%; } }
  .col2 .inverse {
    width: 60%;
    display: block;
    margin: 0.5vh auto; }
    @media (min-width: 613px) {
      .col2 .inverse {
        display: none; } }
  @media (min-width: 613px) {
    .col2 {
      float: right;
      padding-top: 3vh;
      padding-right: 6vw;
      padding-left: 7vw;
      background-color: #000;
      color: #fff;
      font-size: 14px;
      width: 49%;
      height: 100vh;
      margin: 0;
      display: block; } }
  @media (min-width: 1280px) {
    .col2 {
      float: right;
      height: 49vh;
      width: 27%;
      padding: 3.5%;
      padding-top: 8vh;
      margin: 1vh 0 0 0;
      bottom: 0; } }
  @media (min-width: 1280px) {
    .col2 p {
      letter-spacing: .75px;
      line-height: 20px;
      font-size: 16px; } }

.fa-asterisk {
  float: left; }

.fa-asterisk {
  font-size: 10px;
  font-weight: lighter;
  color: #000;
  padding-left: 3%;
  margin-top: 7%; }
  .fa-asterisk:hover {
    color: #2344bc; }
  @media (min-width: 613px) {
    .fa-asterisk {
      display: none; } }

/*# sourceMappingURL=application.css.map */
