/*small laptop*/

@media screen and (min-width: 613px) {
  .col1, .col2 {
    width: 49%;
    height: 100vh;
    margin: 0;
    display: block;
  }

  .col1 {
    @extend %float-left;
    text-align: center;
    letter-spacing: 1px;
    padding: 4vh 10vw 7vh 7vw;
    line-height: 30px;
  }

  .col1 h3 {
    font-size: 26px;
  }

  .col2 {
    @extend %float-right;
    @include padding (3vh, $padding-right: 6vw, $padding-left: 7vw);
    background-color: $black;
    color: $white;
    font-size: 14px;
  }

  .col2 img {
    display:block;
    @extend %float-left;
    width: 60%;
    margin-right: 200px;
    padding-bottom: 3vh;
    max-width: 289px;;
  }

  .col2 .inverse {
    display:none;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .fa-asterisk {
    display: none;
  }

  .featuredProject {
    display:none;
  }

  .footer {
    margin: 0;
    display: block;
    position: absolute;
    margin-top: 57vh;
    margin-left: 65px;
  }

  .footer h3{
    color: $white;
    font-weight: lighter;
  }

  .footer p{
    color: $white;
  }

  html, body {
    margin: 0;
    background-color: $white;
  }

  .main {
    height: 70vh;
    left:0px;
    top:0px;
    position: relative;
    right: 0;
    margin: 0 auto;
    margin-bottom: 1.8%;
  }

  .nav {
    background-color: $white;
    opacity: 0.95;
    width: 250px;
    height: 210px;
    margin-top: 50px;
    margin-left: 50px;
    position: fixed;
    z-index: 9999;
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav a {
    color: $black;
  }

  .nav h3 a:hover {
    color: $red;
  }

  .nav li {
    display:block;
    padding-right: 2vw;
    width: 60%;
    color: $black;
    letter-spacing: .3em;
    padding-bottom: 1.5em;
  }

  .nav ul {
    background-color: $white;
    opacity: 0.95;
    font-size: 9px;
    color: $white;
  }

li a:hover {
    color: $blue;
    font-weight: bold;
  }
}

/*larger screen*/

@media screen and (min-width: 1280px) {

  body {
    background-color: $white;
  }

  .col1, .col2 {
    @extend %float-right;
    height: 49vh;
    width: 27%;
    padding: 3.5%;
  }

  .col1 {
    @include padding (6vh);
    margin: 0 0 1vh 0;
  }

  .col1 h3 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .15em;
    font-weight: bold;
  }

  .col1 p {
    font-size: 14px;
    font-weight: 800;
  }

  .col2 {
    @include padding (8vh);
    margin: 1vh 0 0 0;
    bottom: 0;
  }

  .col2 img {
    @extend %float-left;
    @include padding (0vh, $padding-bottom: 4vh);
    width: 70%;
  }

  .col2 p {
    letter-spacing: .75px;
    line-height: 20px;
    font-size: 16px;
  }

  .footer {
    margin-top: 83vh;
  }

  .main {
    @extend %float-left;
    width: 72%;
    height: 100vh;
    margin-right: .70vw;
    margin-bottom: 0;
}
}
