/*small laptop*/

@media screen and (min-width: 613px) {


  html {
    margin: 0;
    background-color: $white;
  }


  .nav li {
    display:block;
    padding-right: 2vw;
    width: 60%;
    color: $black;
    letter-spacing: .3em;
    padding-bottom: 1.5em;
  }

  .nav ul {
    background-color: $white;
    opacity: 0.95;
    font-size: 9px;
    color: $white;
  }

li a:hover {
    color: $blue;
    font-weight: bold;
  }
}

/*larger screen*/

@media screen and (min-width: 1280px) {

  body {
    background-color: $white;
  }

  .col1, .col2 {
    @extend %float-right;
    height: 49vh;
    width: 27%;
    padding: 3.5%;
  }

  .col1 {
    @include padding (6vh);
    margin: 0 0 1vh 0;
  }

  .col1 h3 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .15em;
    font-weight: bold;
  }

  .col1 p {
    font-size: 14px;
    font-weight: 800;
  }

  .col2 {
    @include padding (8vh);
    margin: 1vh 0 0 0;
    bottom: 0;
  }

  .col2 img {
    @extend %float-left;
    @include padding (0vh, $padding-bottom: 4vh);
    width: 70%;
  }

  .col2 p {
    letter-spacing: .75px;
    line-height: 20px;
    font-size: 16px;
  }

  .footer {
    margin-top: 83vh;
  }

  .main {
    @extend %float-left;
    width: 72%;
    height: 100vh;
    margin-right: .70vw;
    margin-bottom: 0;
}
}
