.col1 {
  background-color: $red;
  height: 6.5vh;

  a {
    color: $white;
    &:hover {
    color: $blue;
    }
  }

  h3 {
    @include font-face(12px, $l-space: .1em, $color: $white);
    padding-left: 8%;

    @media #{$brk-small} {
      font-size: 26px;
    }

    @media #{$brk-large} {
      font-size: 30px;
      line-height: 40px;
      letter-spacing: .15em;
      font-weight: bold;
    }
    }

  p {
    @include font-face(12px, $weight: bold, $color: $black);
    @include padding (4%, $padding-left: 8%);
    margin-bottom: -1%;

    &:hover {
      color: $blue;
    }

    @media #{$brk-large} {
        font-size: 14px;
        font-weight: 800;
      }
    }

    @media #{$brk-small} {
      float: left;
      text-align: center;
      letter-spacing: 1px;
      padding: 4vh 10vw 7vh 7vw;
      line-height: 30px;
      width: 49%;
      height: 100vh;
      margin: 0;
      display: block;
    }

    @media #{$brk-large} {
      float:right;
      height: 49vh;
      width: 27%;
      padding: 3.5%;
      @include padding (6vh);
      margin: 0 0 1vh 0;
    }
  }

  .col2 {
    @include font-face(14px, $color: $black);
    margin: 11% 0 5% 0;
    background-color: $white;
    height: 25vh;
    padding: 4% 8% 7% 10%;

  img {
    display: none;

    @media #{$brk-small} {
      display:block;
      float: left;
      width: 60%;
      margin-right: 200px;
      padding-bottom: 3vh;
      max-width: 289px;
    }

    @media #{$brk-large} {
      float: left;
      @include padding (0vh, $padding-bottom: 4vh);
      width: 70%;
    }
  }

  .inverse {
    width: 60%;
    display: block;
    margin: 0.5vh auto;

    @media #{$brk-small} {
      display:none;
    }
  }

  @media #{$brk-small} {
    float:right;
    @include padding (3vh, $padding-right: 6vw, $padding-left: 7vw);
    background-color: $black;
    color: $white;
    font-size: 14px;
    width: 49%;
    height: 100vh;
    margin: 0;
    display: block;
  }

  @media #{$brk-large} {
    float:right;
    height: 49vh;
    width: 27%;
    padding: 3.5%;
    @include padding (8vh);
    margin: 1vh 0 0 0;
    bottom: 0;
  }

  p {
    @media #{$brk-large} {
      letter-spacing: .75px;
      line-height: 20px;
      font-size: 16px;
    }
  }
}
