.footer {
  margin: 5% 0;

  h3 {
    @include font-face(16px, $l-space: .3em, $weight: lighter);
    font-family: $stack-block;
    margin-bottom: -.3em;

    @media #{$brk-small} {
      color: $white;
      font-weight: lighter;
    }
  }

  p {
    @include font-face(12px, $l-space: .1em);

    @media #{$brk-small} {
      color: $white;
    }
  }

  @media #{$brk-small} {
    margin: 0;
    display: block;
    position: absolute;
    margin-top: 57vh;
    margin-left: 65px;
  }
}
