@mixin font-face ($size, $l-space: null, $weight: null, $color: null) {
  font-size: $size;
  letter-spacing: $l-space;
  font-weight: $weight;
  color: $color;
}

@mixin padding ($padding-top, $padding-right: null, $padding-bottom: null, $padding-left: null) {
  padding-top: $padding-top;
  padding-right: $padding-right;
  padding-bottom: $padding-bottom;
  padding-left: $padding-left;
}
