// Descriptive color variables

$white: #fff;
$black: #000;
$red: #FF3800;
$blue: #2344bc;

// Functional color variables

$eames-blue: $blue;
$eames-red: $red;

// Font stacks

$stack-block: 'Ultra', serif;
$stack-josefin: 'Josefin Sans', sans-serif;


// Media query breakpoints

$brk-small: '(min-width: 613px)';
$brk-large: '(min-width: 1280px)'; 
